.bg{
  background:url(images/download.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body{
	background: linear-gradient(lightblue,green,grey);
}
 a{

	color: white;
}
.header{
	height: 30%;
	width: 30%;
	margin-left:30px;
	text-align: center;
}
.header h1,.header p,.nav-bar{
	font-family: Abril Fatface,Times New Roman,Times,serif;
	font-style: italic;
	background: -webkit-linear-gradient(#0191B3, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
   
}
.btn-color{
	background-color: transparent;
	font-style: italic;
	background: -webkit-linear-gradient(#0191B3, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}
img{
	background-color:-webkit-linear-gradient(#0191B3, #333);
}
.title{
	text-align: center;
	margin-top: 0;
	background-color: transparent;
	font-style: italic;
	background: -webkit-linear-gradient(#0191B3, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    animation: fadeInLeft;
    animation-duration:1s;
   animation-iteration:infinite;


}
.quotes{
	height:100%;
    width: 100%;
    margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.quotes img{
	height: 200px;
	width: 200px;

}
.quotes img:hover{
	animation: heartBeat;
	animation-duration: 3s;
}



